:root {
    --btn-primary-color: #f85555;
    --white-text-color: #ffffff;
}

/*------ Navbar -----*/

.header {
    width: 100%;
    max-width: 1920px;
    height: 80px;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.navbar__logo {
    color: red;
    font-size: 2rem;
    font-weight: 700;
    width: 700px;
}

.navbar__menu {
    width: 100%;
    display: flex;
}

.navbar__item {
    padding: 0.5rem 1rem;
}


/*------ Home ------*/

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 10rem;
}

.search {
    width: 900px;
    height: 50px;
    margin-bottom: 4rem;
    font-size: 1.2rem;
    padding: 0 1rem;
    outline: none;
    border: 2px solid var(--btn-primary-color);
    border-radius: 25px;
}

.main-container {
    width: 100%;
    display: flex;
    padding: 0 1.5rem;
}

.filters-container {
    display: flex;
    flex-direction: column;
    width: 260px;
    left: 20px;
    gap: 40px;
}

.productos-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.filter-price {
    display: flex;
    flex-direction: column;
}

.filter-title {
    width: 100%;
    text-align: center;
    background: #f85555;
    line-height: 2;
    color: #fff;
    margin-bottom: 20px;
}

.input-container {
    margin: 1rem 0.5rem;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.primary-btn {
    background: #f85555;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 500;
    color: #fff;
    margin: 15px;
}

.categories-container {
    margin: 0 1.2rem;
}

.category {
    padding: 0.5rem;
    cursor: pointer;
}

/*------ Login -----*/

.login {
    background: lightgray;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    background: #fff;
    width: 400px;
    padding: 2rem 1.5rem;
    border-radius: 10px;
}

.login-form__title {
    line-height: 1.5;
    margin-bottom: 2rem;
}

.login-form__input-container {
    margin-bottom: 20px;
}

.login-form__label {
    display: block;
}

.login-form__input {
    width: 100%;
    height: 30px;
}

.primary-btn--login {
    background: #f85555;
    padding: 0.7rem 1rem;
    border-radius: 5px;
    font-weight: 500;
    color: #fff;
    width: 100%;
    margin-top: 40px;
}


/*------ Product Info ------*/

.product-info {
    width: 1200px;
    margin: 4rem auto;
}

.product-info__header {
    display: flex;
    gap: 150px;
}

.slider {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    overflow: hidden;
    position: relative;
}

.slider__back,
.slider__next {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--btn-primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-text-color);
    font-size: 1.3rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.slider__back {
    left: 0;
}

.slider__next {
    right: 0;
}

.slider__container {
    width: 300%;
    display: flex;
    gap: 20px;
    transition: transform 0.3s ease;
}

.slider__img-container {
    width: calc(100% / 3);
    aspect-ratio: 1.2;
}

.slider__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.prod-description__title {
    margin-bottom: 20px;
}

.prod-description__content {
    margin-bottom: 20px;
}

.prod-description__q-container {
    display: flex;
    gap: 200px;
}

.prod-description__label {
    display: block;
    color: gray;
    font-weight: 500;
    font-size: 0.8rem;
    margin: 7px 0;
}

.prod-description__controls-container {
    display: flex;
    gap: 2px;
}

.prod-description__control {
    border: 1px solid lightgrey;
    padding: 0 0.7rem;
    cursor: pointer;
}

.prod-description__number {
    border: 1px solid lightgrey;
    padding: 0 0.9rem;
}

.add-cart-btn {
    background: #f85555;
    padding: 0.7rem 1rem;
    border-radius: 5px;
    font-weight: 500;
    color: #fff;
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-cart-btn:hover {
    background: #f82e2e;    
}

.similar-products-section {
    margin-top: 5rem;
}

.similar-products-container {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
}

.cart-page {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
}

.cart-title {
    margin-bottom: 20px;
}

.cart-footer {
    display: flex;
    gap: 15px;
    margin: 20px 0;
}

.checkout-btn {
    background: #f85555;
    padding: 0.7rem 1rem;
    border-radius: 5px;
    font-weight: 500;
    color: #fff;
    width: 350px;
}

.purchases-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
}

.purchases-title {
    margin-bottom: 2rem;
}


.purchase-card {
    width: 800px;
    padding: 2rem;
    border: 1px solid lightgray;
    margin: 15px auto;
}

.purhase-date {
    margin-bottom: 15px;
}

.purchase-details {
    display: flex;
    justify-content: space-between;
}

.logout {
    background: lightgray;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout__btn-container {
    width: 400px;
    background: #fff;
    padding: 3rem 2rem;
}

.logout__btn {
    background: #f85555;
    padding: 0.7rem 1rem;
    border-radius: 5px;
    font-weight: 500;
    color: #fff;
    width: 100%;
    margin-top: 30px;
}

.footer {
    width: 100%;
    display: flex;
    background: rgb(26, 25, 25);
    padding: 1rem 0;
    justify-content: center;
}

.footer p {
    color: #fff;
}